<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<!--Menu-->
<!--1: Deposit-->
<!--2: Withdraw-->
<!--3: View Transaction-->
<!--Connect these buttons , using thymeleaf, to our controller-->
<!--<button id="Deposit" ahref="/deposit.html"> Deposit</button>-->
<!--<button id="Withdraw" ahref="/withdraw.html"> Withdraw</button>-->
<!--<button id="View Transaction" ahref="/withdraw.html"> View Transaction</button>-->

<!--<form action="#" th:action="@{/student}" th:object="${student01}" method="post">-->
<form action="#" th:action="@{/index}">
    <button type="Deposit">Deposit</button>
</form>
<form>
    <button type="Withdraw">Withdraw</button>
</form>
<form>
    <button type="Transaction">View Transaction</button>
</form>
</body>
</html>